@charset "utf-8";

.underline{
  border-bottom:2px solid #000;
}

.icon.icon_o, .icon.icon_x {
  position: absolute;
  width: 253px;
  height: 162px;
}

/* page1 */
.page1 .colorBox {
  width: 100%;
  height: 180px;
  padding-left: 190px;
  /* font-size: 32px; */
  margin-bottom: 20px;
}
.page1 .box-list{
  justify-content: space-between;
}
.page1 [data-ox-obj]{
	background:#f4f1e6 url(../images/SOC_42_02_0708_A_07/girl.png) 10px 50% /auto 163px no-repeat;
}
.page1 [data-ox-obj="2"]{background-image:url(../images/SOC_42_02_0708_A_07/boy.png);}
.page1 [data-ox-obj="3"]{background-image:url(../images/SOC_42_02_0708_A_07/girl2.png);}

.page1 .icon.icon_o, .page1 .icon.icon_x{
  left: -34px;
}

/* page2 */
.page2 .dragDropContainer {
	position: relative;
	top: 50px;
	width: 1440px;
	left: -70px;
}
.page2 .dropAreaUL {
	margin-left: 50px;
	justify-content: space-between;
	display: flex;
	align-items: center;
}
.page2 .dropAreaUL li,
.page2 .dropAreaUL .dropArea{
	width: 220px;
	height: 200px;
	border: 2px solid black;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: unset;
	text-align: center;
	position: relative;
	font-size: 47px;
	word-break: keep-all;
	border-radius: 0;
}
.page2 .dropAreaUL li{
	background-color: #f8e7d7;
	border-color:transparent;
	border-radius: 15px;
}
.page2 .dropAreaUL li::after{
	content: '';
	display: inline-block;
	width: 52px;
	height: 48px;
	background: url(../images/SOC_42_02_0708_A_07/p06-2.png) center/contain no-repeat;
	position: absolute;
	right: -62px;
}
.page2 .dropAreaUL li:last-child::after{
	content: unset;
}
.page2 .dropArea {
	position: relative;
}
.page2 .dragObj {
	position: absolute;
  	top: 280px;
  	width: 220px;
  	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
  	text-align: center;
  	font-size: 47px;
	border-radius:15px;
	background-color: #f8e7d7;
	word-break: keep-all;
}
.page2 .dropArea .dragObj {
	position: absolute;
	top: 2.5%;
	left: 2.5%;
	width: 95%;
	height: 95%;
	border: none;
	font-size: 47px;
}
.dragObjUL .dragObj.dragObjComplete {
  opacity: 0;
  visibility: hidden;
}
.page2 .dragObj_1 {
  left: 199px;
}
.page2 .dragObj_2 {
  left: 593px;
}
.page2 .dragObj_3 {
  left: 980px;
}
.page2 ul.textList {
	position: absolute;
	top: 45px;
	left: 90px;
}
.page2 ul.textList li {
	position: absolute;
	width: 250px;
}
.page2 ul.textList li:nth-child(2) {
	left: 466px;
}
.page2 ul.textList li:nth-child(3) {
	left: 702px;
}
.page2 ul.textList li:last-child {
	left: 786px;
}


/* page3 */
.page3 .dragLineContainer {
  height: 540px;
}
.page3 .dragLineContainer > ul {
  flex-direction: column;
  justify-content: space-between;
}
.page3 .dragLineContainer > ul > li {
  width: 245px;
  margin-bottom: 30px;
  padding: 25px;
  word-break: keep-all;
}
.page3 .dragLineContainer > ul.sky > li{
  width: 590px;
}
.page3  .top_1 {
  top: 75px;
}
.page3 .top_2 {
  top: 256px;
}
.page3 .top_3 {
  top: 441px;
}
.page3 .top_4 {
  top: 408px;
}
.page3 .left_1 {
  left: 370px;
}
.page3 .left_2 {
  left: 743px;
}