@charset "utf-8";
.popupBtn{
  right:0;
  bottom: 0;
}

.page2 .flex-box{
  justify-content: space-between;
}
.page2 .list-box{
  width: 32%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.page2 .list-box .img-box{
  display: flex;
  align-items: center;
  justify-content: center;
  height:400px;
}
.page2 .list-box .img-box img{
  max-width: 100%;
  image-rendering: -webkit-optimize-contrast;
}
.page2 .list-box .colorBox{
  height:calc(100% - 400px);
  display: flex;
  align-items: center;
  justify-content: center;
}