@charset "utf-8";

.underline{
  border-bottom:2px solid #000;
}

/* page1 */
.page1 .img{
  height: 270px;
  display: block;
  margin:0 auto;
}
.page1 .colorBox {
  padding: 30px 40px;
}
.page1 .flex-box {
  justify-content: space-evenly;
}
.page1 .colorBox.lineBlue {
  background-color: #e2f7fd;
  border: 6px solid #4ccbf2;
  width: 485px;
  height: 180px;
  font-size: 60px;
  justify-content: center;
  margin-bottom: 0;
}
.page1 .icon {
  position: absolute;
  width: 253px;
  height: 162px;
}

/* page2 */
.page2 .dragLineContainer {
	height: 540px;
	margin-top:-40px;
  }
  .page2 .dragLineContainer > ul {
	
	
  align-items: center;display: flex;flex-flow: column;justify-content: center;}
  .page2 .dragLineContainer > ul > li {
	width: 300px;
	margin-bottom: 30px;
	padding: 25px;
	word-break: keep-all;
  }
  .page2 .dragLineContainer > ul.sky > li{
	width: 590px;
  letter-spacing: -3px;}
  .page2  .top_1 {
	top: 38px;
  }
  .page2 .top_2 {
	top: 223px;
  }
  .page2 .top_3 {
	top: 410px;
  }
  .page2 .top_4 {
	top: 149px;
  }
  .page2 .top_5 {
	top: 280px;
  }
  .page2 .left_1 {
	left: 424px;
  }
  .page2 .left_2 {
	left: 743px;
  }


/* page3 */
.page3 .flex-box {
	justify-content: space-between;
	/* width: 1350px; */
  }
  .page3 .colorBox {
	width: 585px;
	height: 220px;
	padding-left: 190px;
	text-align: center;
  word-break: keep-all;}
  .page3 [data-ox-obj="1"] {
	background: #cee5ed url(../images/SOC_42_03_0708_A_08/p8-1.png) 10px 50% /
	  auto 66% no-repeat;
  }
  .page3 [data-ox-obj="2"] {
	background: #cee5ed url(../images/SOC_42_03_0708_A_08/p8-2.png) 10px 50% /
	  auto 66% no-repeat;
  }
  
  .page3 .icon {
	position: absolute;
	width: 344px;
	height: 162px;
	text-align: center;
  }
  