@charset "utf-8";

.popupBtn{
  right:0;
  bottom:-10px;
}

/* page1 */
.page1 .flex-box>div{
  width: 50%;
  padding: 10px;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.page1 .flex-box>div img{
  max-width: 100%;
  height:400px;
}
.page1 .flex-box .left .balloon{
  right: -118px;
  top: -36px;
  width: 500px;
  z-index: 1;
}
.page1 .flex-box .zoomBtn{
  right:0;
  top:0;
}

.page1 .innerPage_2 .flex-box>div img{
  height:300px;
}
.page1 .innerPage_2 .flex-box .icon_arrow{
  width: 5%;
}
.page1 .innerPage_2 .flex-box .colorBox.sky{
  width: 95%;
}

/* popup */
.whole .img{
  max-width: fit-content;
  height: 756px;
  display: block;
  margin:0 auto;
}

.popup_catchyHelp .flex-box .left{
  width: 40%;
}
.popup_catchyHelp .flex-box .right{
  width: 60%;
}
.popup_catchyHelp .left img{
  max-width: 100%;
}