@charset "utf-8";

.underline{
  border-bottom:2px solid #000;
}
.number.circle{
  border-radius: 50%;
}



/* page1 */
.page1 .dragDropContainer {
  /* width: 800px; */
  margin: auto;
}
.page1 .dropAreaUL {
  display: inline-flex;
  justify-content: space-between;
  width: 710px;
  margin: auto 50px;
}
.page1 .dropArea {
  width: 180px;
  height: 70px;
  position: absolute;
  top: 90px;
  left: 497px;
}
.page1 .dragObjUL {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 27px;
  /* border: 5px solid #e46c0a; */
  border-radius: 15px;
  box-sizing: border-box;
  height: 180px;
}
.page1 .dragObj {
  justify-content: center;
  width: 233px;
  height: 110px;
  background-color: #fcd5b5;
  position: absolute;
}
.page1 .dropArea .dragObj {
  position: absolute;
  top: 0px;
  left: 0;
  width: 180px;
  height: 70px;
  border: none;
}
.page1 .dragObjUL .dragObj.dragObjComplete {
  opacity: 0;
  visibility: hidden;
}

.page1 .colorBox_1,
.page1 .colorBox_2 {
  justify-content: center;
  position: absolute;
  width: 180px;
  height: 110px;
  padding: 10px;
}
.page1 .colorBox_1 {
  top: 1px;
  left: 149px;
  background-color: #fcd5b5;
}
.page1 .colorBox_2 {
  top: 1px;
  right: 140px;
  background-color: #fcd5b5;
}

.page1 .icon_arrow {
  position: absolute;
  top: 30px;
}
.page1 .icon_arrow:nth-of-type(5) {
  left: 345px;
}
.page1 .icon_arrow:nth-of-type(6) {
  left: 610px;
}
.page1 .icon_arrow:nth-of-type(7) {
  left: 878px;
}
.page1 .icon_arrow:nth-of-type(8) {
  left: 1141px;
}
.page1 .drag-txt{
  display: block;
}

.page1 .dropArea_2 {
  left: 699px;
}
.page1 .dropArea_3 {
  left:400px;
}

.page1 .dragObjUL .dragObj_2{
  left: 29%;
}

.page1 .dragObjUL .dragObj_3{
  left: 54%;
}

.page1 .dragObjUL .dragObj_4{
  left: 79%;
}

/* page2 */
.page2 .flex-box {
	justify-content: space-between;
	/* width: 1350px; */
  }
  .page2 .colorBox {
	width: 585px;
	height: 220px;
	padding-left: 190px;
	text-align: center;
  word-break: keep-all;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .page2 [data-ox-obj="1"] {
	background: #cee5ed url(../images/SOC_42_03_1314_A_07/p8-1.png) 10px 50% /
	  auto 66% no-repeat;
  }
  .page2 [data-ox-obj="2"] {
    background: #cee5ed url(../images/SOC_42_03_1314_A_07/p8-2.png) 10px 50% /
	  auto 66% no-repeat;
  }
  
  .page2 .icon {
	position: absolute;
	width: 344px;
	height: 162px;
  top: unset;
  left: unset;
  }
  

  /* page3 */
  .page3 .flex-box .left{
    width: 35%;
  }
  .page3 .flex-box .left img{
    max-width: 90%;
  }
  .page3 .flex-box .right{
    width: 65%;
  }
  .page3 .multipleChoiceList li{
    margin-bottom: 20px;
  }
  .page3 .multipleChoiceList li *{
    cursor: pointer;
  }
  .page3 .multipleChoiceList .icon{
    position: absolute;
    left:0;
  }