@charset "utf-8";

.icon_active {
  position: static;
  display: inline-block;
  height: 75px;
  margin-left: 20px;
  vertical-align: middle;
}

.page1 .imgBgContainer{
  background: url(../images/SOC_42_03_1314_A_06/SOC_42_03_1314_A_06_01.png) no-repeat center/100% 100%;
  padding:20px 50px;
}


/* page2 */
.page2 .flex-box .left{
  width: 40%;
}
.page2 .lineBox{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  height: 500px;
  margin:0 10px;
}
.page2 .lineBox .title{
  border-bottom: 3px solid #ccc;
}
.page2 .lineBox .toggle{
  margin-top: 30px;
  height:calc(100% - 80px);
}
.page2 .lineBox.green .title{
  color:yellowgreen;
}
.page2 .lineBox.sky .title{
  color:skyblue;
}


/* page3 */
.page3 .balloon{
  max-width: calc(100% - 450px);
}
.page3 .balloon .complete .answer{
  display: contents;
}
.page3 .char{
  width:300px;
  position: absolute;
  right: 0;
}
.page3 .char img{
  max-width: 100%;
}