@charset "utf-8";

.popupBtn{
  right:0;
  bottom:60px;
}

/* page1 */
.page1 .flex-box>div{
  width: 50%;
  padding: 10px;
  position: relative;
}
.page1 .flex-box>div img{
  max-width: 100%;
  height:400px;
}