@charset "utf-8";

section .imgBgContainer {
  width: 653px;
  height: 590px;
  background: url(../images/SOC_42_02_1314_A_09/SOC_42_02_1314_A_09_01.png) 50% 0/contain no-repeat;
  margin: 0 auto;
  box-sizing: border-box;
}
section .induceBtn {
  top: 24px;
  left: 59px;
}
section .popupBtn {
  position: absolute;
  top: 40px;
  left: 511px;
  padding: 0 20px;
  background: #f4a347;
}
section .imgBgContainer.active .popupBtn {display:none}
section .imgBgContainer .txt-box{
    position: absolute;
    width: 319px;
    /* background: red; */
    /* opacity: .5; */
    display: flex;
    flex-flow: row wrap;
    top: 136px;
    left: 588px;
}
section .imgBgContainer .txt {
  font-size: 19px;
  width: 119px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* background: red; */
  /* opacity: .5; */
  margin: 0;
  line-height: unset;
  margin-bottom: 2px;
  border: 0;
  margin: 0 2.1px 3.8px 0;
  position: absolute;
  text-align: center;
}

section .imgBgContainer .p1 {
  top: 34px;
  left: -4px;
}

section .imgBgContainer .p2 {
  top: 30px;
  left: 194px;
width: 130px;}

section .imgBgContainer .p3 {
  top: 169px;
  left: 63px;
}

section .imgBgContainer .p4 {
  top: 185px;
  left: 263px;
}

section .imgBgContainer .p5 {
  top: 287px;
  left: 3px;
}
section .imgBgContainer.active .p2,
section .imgBgContainer.active .p3,
section .imgBgContainer.active .p5{
  background-color: #5acbff;
}

/* pop_page_1 */
.moveButtonContainer {
  display: none;
}

.popup_pages .contentsBox {
  padding-top: 0;
}

.popup_pages .qst {
  position: relative;
  display: flex;
  align-items: center;
  height: 240px;
  padding: 0 50px 0 50px;
  margin: 0 100px;
  border-radius: 15px;
  font-size: 50px;
  color: #fff;
  box-sizing: border-box;
  background: #b371af;
}

.oxBasic-container {
  width: 844px;
  height: 430px;
  margin: 0 auto;
  border: 6px solid #d4cfbc;
  border-radius: 30px;
}

.oxBasic-container>div:first-child {
  border-right: 5px dashed #d4cfbc;
}

.oxBasic-container>div {
  width: 50%;
  height: 430px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
}

.oxBasic-container .icon {
  position: absolute;
  top: 84px;
  left: 89px;
  width: 252px;
  height: 251px;
  opacity: 1;
}
.oxBasic-container .icon.icon_x.on {
  background-image: url(../images/SOC_42_02_1314_A_09/icon_X_big.svg);
}

.oxBasic-container .icon.icon_o.on {
  background-image: url(../images/SOC_42_02_1314_A_09/icon_O_big.svg);
}
.pointWord .bullet.number{
    display: none !important;
}