@charset "utf-8";

.underline{
  border-bottom:2px solid #000;
}

/* page1 */
.page1 .colorBox {
  padding: 30px 40px;
}
.page1 .flex-box {
  justify-content: space-evenly;
}
.page1 .colorBox.lineBlue {
  background-color: #e2f7fd;
  border: 6px solid #4ccbf2;
  width: 485px;
  height: 180px;
  font-size: 60px;
  justify-content: center;
  margin-bottom: 0;
}
.page1 .icon {
  position: absolute;
  width: 253px;
  height: 162px;
}


/* page2 */
.page2 img{
  max-width: 100%;
  height:250px;
}
.page2 .flex-box .left,
.page2 .flex-box .right{
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page2 .flex-box {
  justify-content: space-between;
  width: 100%;
}
.page2 .colorBox {
  width: 585px;
  height: 240px;
}
.page2 .icon {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 288px;
}

/* page3 */
.page3 .img-box {
  padding: 30px 40px;
}
.page3 .img-box img{
  max-width: 100%;
}
.page3 .flex-box {
  justify-content: space-evenly;
}
.page3 .flex-box>div{
  width: 48%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page3 .icon {
  position: absolute;
  width: 253px;
  height: 162px;
}
.page3 .balloon{
  top:0;
  left:0;
}
.page3 .balloon.bal_1{
  width: 400px;
}
.page3 .balloon.bal_2{
  width: 600px;
  left: unset;
  right: 0;
top: -38px;}