@charset "utf-8";
h2 {
  align-items: center;
}
.study_guide.top {
	top: 120px;
right: 30px;}
.contentsBox section.slide_wrap{
	height: 540px;
}
.flex-box img{
	max-height: 480px;
}
.flex-box>.left,
.flex-box>.right{
	align-items: flex-end;
}
.flex-box>.left{
	width: 30%;
}
.flex-box>.left .char{
	margin-top: 163px;
	margin-bottom: -130px;
	max-height: 360px;
}
.flex-box>.right{
	width: 70%;
	height: 550px;
	margin-top: -40px;
}
.flex-box>.right section{
	padding:0;
}
.oxContainer{
	background: url(../images/SOC_42_02_0910_A_01/SOC_42_02_0910_A_01_01.png) no-repeat center/auto 100%;
	height: 100%;
	max-height: 526px;
	position:relative;
}
.oxContainer [data-ox-obj]{
	position:absolute;
	/*
	background-color: red;
	opacity: .5;
	*/
	display: flex;
	align-items: center;
	justify-content: center;
	/* background: red; */
	/* opacity: .5; */
    width: 130px;
    height: 130px;
top: 21px;flex-flow: column;}
.oxContainer [data-ox-obj]>span{
	position:absolute;
	font-size: 26px;
	
top: 154px;left: -10px;text-align: center;display: inline-block;width: 100%;}
.oxContainer .obj_1{
	
	left: 530px;
}
.oxContainer .obj_2{
	left: 712px;
}
.oxContainer .obj_3{
	left: 890px;
}
.oxContainer .obj_4{
	left: 1065px;
}
.oxContainer .obj_5,
.oxContainer .obj_6,
.oxContainer .obj_7,
.oxContainer .obj_8{
    top: 276px;
}
.oxContainer .obj_5{
	left: 531px;	
}
.oxContainer .obj_6{
	left: 707px;
}
.oxContainer .obj_7{
	left: 905px;
}
.oxContainer .obj_8{
	left: 1084px;
}
.oxContainer .obj_3>span{left: 8px;}
.oxContainer .obj_4>span{left: 16px;}
.oxContainer .obj_5>span{padding-top: 12px;}
.oxContainer .obj_6>span{padding-top: 10px;padding-left: 5px;}
.oxContainer .obj_7>span{padding-top: 12px;padding-left: 2px;}
.oxContainer .obj_8>span{padding-top: 10px;left: -2px;}

.icon.icon_o, .icon.icon_tri, .icon.icon_x{width: 100%;height: 100%;}