@charset "utf-8";

/* 이단원에서 배울 내용 체크 */


#wrap.thisLesson .icon_check_title {
  position: relative;
  top: 6px;
  width: 42px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  background: url(../images/icon/icon_check_title.svg) center/ contain no-repeat;
}
#wrap.thisLesson .knowCheckBox {
  width: 100%;
  height: 350px;
  padding: 40px 70px;
  border: 5px solid #bfbaac;
  border-radius: 35px;
  background-color: #fff;
  box-shadow: 0px 7px 0px 0px #bfbaac;
  box-sizing: border-box;
  text-align: justify;
  line-height: 1.3em;
}
#wrap.thisLesson .knowCheckBox ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100%;
}
#wrap.thisLesson .knowCheckBox > ul > li {
  display: flex;
  align-items: center;
  width: 33%;

}
#wrap.thisLesson .circleCheck {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 36px;
  border: 4px solid #ff901e;
  border-radius: 50%;
  margin-right: 18px;
}
#wrap.thisLesson .knowCheckBox > ul > li > span {
  /* padding-top: 4px; */
}
#wrap.thisLesson .knowCheckBox > ul > li .check {
  position: absolute;
  top: -6px;
  left: 3px;
  width: 40px;
  height: 38px;
  background: url(../../contents/images/icon/icon_check_orange.svg) 0 0/ auto 100% no-repeat;
}
#wrap.thisLesson .popupBtn.pointWord {
  bottom: 0;
  right: 0;
}


/* pointWord popup */
.pointWord .wordContainer {
  height: 100%;
  align-items: center;
}
.pointWord .left {
  width: 40%;
}
.pointWord .right {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  position: relative;
  width: 60%;
  height: 600px;
  padding: 30px;
  border-radius: 30px;
  background-color: #e7e6e6;
  box-sizing: border-box;
  margin-left: 30px;
}

.pointWord .left>h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 130px;
  margin: 0 auto 30px;
  border-radius: 10px;
  font-size: 50px;
  font-family: SCDreamH;
  letter-spacing: 40px;
  padding: 0 0 0 40px;
  background: #B7DEE8;
}
.pointWord .left .hanjaBox {
  display: flex;
  justify-content: center;
}
.pointWord .left .hanjaBox .hanja {
  margin-bottom: 30px;
  font-size: 60px;
  font-family: NotoB;
  font-weight: bolder;
}
.pointWord .left .hanjaBox .korean {
  font-family: NotoB;
}
.pointWord .left .hanjaBox .korean > span {
  color: #31859C;
}
.pointWord .right {
  background-color: #ece7d9;
}
.pointWord .right .explicateImg {
  width: 100%;
  height: 100%;
  margin: 40px auto 0;
  background-color: #faf7ec;
  border-radius: 30px;
  border: none;
  padding: 0;
}


/* table */
.pointWord table tr {
  border: 2px solid #333333;
}
.pointWord table td {
  height: 210px;
  padding: 2px 20px;
  /* border-left: 2px dashed #333333; */
  border-right: 2px dashed #333333;
}
/* .pointWord table tr td:first-child, */
.pointWord table tr td:last-child {
  /* border-left: none; */
  border-right: none;
}