@charset "utf-8";

.underline{
  border-bottom:2px solid #000;
}

/* page1 */
.page1 .img{
  height: 270px;
  display: block;
  margin:0 auto;
}
.page1 .colorBox {
  padding: 30px 40px;
}
.page1 .flex-box {
  justify-content: space-evenly;
}
.page1 .colorBox.lineBlue {
  background-color: #e2f7fd;
  border: 6px solid #4ccbf2;
  width: 485px;
  height: 180px;
  font-size: 60px;
  justify-content: center;
  margin-bottom: 0;
}
.page1 .icon {
  position: absolute;
  width: 253px;
  height: 162px;
}
.page1 .bal_01{
  left: 172px;
  top: 38px;
}
.page1 .bal_01::after{
  left:unset;
  right: 36px;
}
.page1 .bal_02{
  right: 127px;
  top: 207px;
}

/* page2 */
.page2 .img-box{
  width: 50%;
  height:300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0 auto;
}
.page2 .img-box img{
  max-height: 100%;
}
.page2 .img-box [class*=img-txt-]{
  position:absolute;
}
.page2 .img-box .img-txt-1{
  left:0;
  top:0;
}
.page2 .img-box .img-txt-2{
  left:0;
  top:0;
}
.page2 .colorBox.lightOrange{
  margin:0 10px;
  letter-spacing: -5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* page3 */
.page3 .flex-box {
	justify-content: space-between;
	/* width: 1350px; */
  }
  .page3 .colorBox {
	width: 585px;
	height: 220px;
	padding-left: 190px;
	text-align: center;
  word-break: keep-all;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .page3 [data-ox-obj="1"] {
	background: #cee5ed url(../images/SOC_42_03_1112_A_07/p8-1.png) 10px 50% /
	  auto 66% no-repeat;
  }
  .page3 [data-ox-obj="2"] {
    background: #cee5ed url(../images/SOC_42_03_1112_A_07/p8-2.png) 10px 50% /
	  auto 66% no-repeat;
  }
  
  .page3 .icon {
	position: absolute;
	width: 344px;
	height: 162px;
  top: unset;
  left: unset;
  }
  