@charset "utf-8";

.popupBtn{
  right:50px;
  bottom:20px;
}

.img{
  max-width: 100%;
  max-height: 600px;
}

.fakeWordBtn {
  position: absolute;
}
.wordBtn.fakeWordBtn {
  opacity: 0;
  visibility: hidden;
}
.toggle.complete + .wordBtn.fakeWordBtn,
.toggle.complete + .wordBtn.fakeWordBtn + .wordBtn.fakeWordBtn {
  opacity: 1;
  visibility: visible;
}
.balloon.orange{
  position: absolute;
  z-index: 4;
}

/* page1 */
h2 .blue{
  color: #0080FF;
}
.page1 ul.quizList li.li_answer{
  margin-left:0;
}
.page1 .innerPage_2 .img{
  height: 531px;
  max-height:unset;
  max-width: fit-content;
  margin: 0 auto;
}
.page1 .innerPage_2 .bal_1{
  left: 574px;
  top: 81px;
width: 597px;}
.page1 .innerPage_2 .bal_2{
  left: 189px;
  top: 300px;
width: 400px;}
.page1 .innerPage_2 .bal_3{
  right: 126px;
  top: 321px;
width: 443px;}
.page1 .innerPage_2 .speakerBtn{
  position: absolute; 
left: 400px;}


/* page2 */
.page2 section{
  padding:0 86px !important;
}
.page2 .word-1{
  right: 112px;
  top: 317px;
width: 100px;height: 50px;}
.page2 .bal_1{
  top: 391px;
  right: 114px;
}