@charset "utf-8";

.popupBtn{
  right:50px;
  bottom:20px;
}

.flex-box>div{
  width: 50%;
  padding:0 1%;
  position: relative;
}
.flex-box>div img{
  max-width: fit-content;
  height: 477px;
  display: block;
  margin:0 auto;
}

.flex-box>div .afterInduce.oneSize{
  width: 200px;
  height: 200px;
  background-color: red;
  opacity: .5;
  position: absolute;
}
.flex-box>div .afterInduce.oneSize::after{
  top:unset;
  left:unset;
  right:0;
  bottom:0;
}
.flex-box>div .colorBox.green{
  justify-content: center;
}

/* page1 */
.page1 .innerPage_1 .narr_1{
  left: 250px;
  top: 216px;
}
.page1 .innerPage_1 .narr_2{
  left: 78px;
  top: 105px;
  height: 300px !important;
}
.page1 .innerPage_1 .narr_2::after{
  bottom:30px !important;
}
.page1 .innerPage_1 .bal_1{
  top:0;
  left: 73px;
width: 262px;}
.page1 .innerPage_1 .bal_1_1{
  top:0;
  right: 0;
width: 258px;}
.page1 .innerPage_1 .bal_2{
  top: -127px;
  left: 57px;
width: 350px;}

.page1 .innerPage_2 .narr_1{
  left: 50px;
  top: 92px;
width: 150px !important;}
.page1 .innerPage_2 .narr_2{
  left: 290px;
  top: 0;
height: 80px !important;}
.page1 .innerPage_2 .img-txt{
  position: absolute;
  font-size: 27px;
  text-align: center;
  width: 200px;
  top: 28px;
  left: 247px;
  transform: scale(0.9);
}
.page1 .innerPage_2 .bal_1{
  top: 216px;
  left:0;
width: 574px;}
.page1 .innerPage_2 .bal_1::after{
  left:150px;
}
.page1 .innerPage_2 .bal_2{
  top: -58px;
  left: -11px;
width: 294px;}
.page1 .innerPage_2 .bal_2::after{
  top: 85px;
}