@charset "utf-8";

.icon_active {
  position: static;
  display: inline-block;
  height: 75px;
  margin-left: 20px;
  vertical-align: middle;
}


/* page1 */
.page1 .scroll_container{
  height:550px;
}
.page1 .tableContainer th,
.page1 .tableContainer td{
  padding:10px;
}
.page1 .tableContainer td{
  position: relative;
}
.page1 .tableContainer tbody tr td:first-child{
  text-align: justify;
  letter-spacing: -3px;
}

.page1 .selfCheckBox{
  position: absolute;
  left: 0;
  top: 0;
width: 339px;z-index: 1;}

/* page2 */
.page2 .colorBox{
  flex-flow: column;
  position: relative;
  height: 500px;align-items: center;justify-content: center;padding: 0 0 50px 0;
}
.page2 .colorBox .title{
  margin-bottom:20px;
}
.page2 .colorBox .toggle{
  position: absolute;
  text-align: justify;
  width: 69%;
  left: 299px;
  letter-spacing: -4px;
  top: 234px;
}