@charset "utf-8";

.popupBtn {
  right: 0;
  bottom: 27px;
}
.flex-box {
  align-items: center;
}
.flex-box > div {
  width: 48%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  height: 660px;
}
.flex-box .icon_arrow {
  width: 2%;
  transform: scale(2);
}
.flex-box > div .title {
  text-align: center;
  padding: 10px 30px;
}
.flex-box > div img {
  max-width: 100%;
  height: 280px;
  border-radius: 20px;
}

/* page1 */
.page1 .colorBox.green.content {
  height: 197px;
}

/* page2 */
.page2 .flex-box > div img {
  max-width: 100%;
  height: 230px;
}
.page2 .flex-box .icon_arrow {
  position: relative;
  top: -120px;
}
.page2 .colorBox.green.content {
  height: 321px;
}

/* page3, page4 */
.page3 .colorBox.green.content,
.page4 .colorBox.green.content {
  height: 258px;
}
/* page4 */
.balloon.orange {
  width: 400px;
  top: 87px;
  left: -181px;
}
